<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://avatars3.githubusercontent.com/u/33315316?s=200&v=4">
    </a>
    <h1>Keeping trustless' volume</h1>
    <p>since 2018!</p>
    <a type="button" class="btn btn-lg btn-default" href="https://trustless.ethfinex.com" target="_blank"><span class="glyphicon glyphicon-flash"></span> Trade on trustless</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/ethfinex/efx-trustless-vol" target="_blank"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Make sure you come visit us at <a href="https://ethfinex.com" class="alert-link">ethfinex.com</a> !
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this app works</h3>
      <ul>
        <li>...</li>
        <li>...</li>
        <li>...</li>
        <li>...</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>...</li>
        <li>...</li>
        <li>...</li>
        <ul>
          <li>...</li>
          <li>...</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.google.com">google</a></li>
        <li><a href="https://www.google.com">google</a></li>
        <li><a href="https://www.google.com">google</a></li>
        <li><a href="https://www.google.com">google</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
     blah blah blah
  </div>
</div>


</body>
</html>
